@import '~bootstrap/scss/bootstrap';
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
}

.bg-red {
    background-color: rgb(92, 0, 0);
}

.absolute-5 {
    position: absolute;
    top: 5px;
    right: 0;
}

#dropdown-user {
    margin-top: 45px;
}

.bigger-text {
    font-size: 25px;
}

.medium-text {
    font-size: 18px;
}